<!-- _includes/about_us.html -->
<div class="section-home about-us fadeIn animated">
  <div class="container">
    <div class="row">
      <!-- Our Mission -->
      <div class="col-md-3 col-sm-6">
        <div class="about-us-col">
          <div class="col-icon-wrapper">
            <img src="{{ '/assets/images/icons/our-mission-icon.png' | relative_url }}" alt="Our Mission Icon">
          </div>
          <h3 class="col-title">Our Mission</h3>
          <div class="col-details">
            <p>{{ page.about_us_our_mission_text | default: "Default our mission text" }}</p>
          </div>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
      <!-- Make Donations -->
      <div class="col-md-3 col-sm-6">
        <div class="about-us-col">
          <div class="col-icon-wrapper">
            <img src="{{ '/assets/images/icons/make-donation-icon.png' | relative_url }}" alt="Make Donations Icon">
          </div>
          <h3 class="col-title">Make Donations</h3>
          <div class="col-details">
            <p>{{ page.about_us_make_donations_text | default: "Default make donations text" }}</p>
          </div>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
      <!-- Help & Support -->
      <div class="col-md-3 col-sm-6">
        <div class="about-us-col">
          <div class="col-icon-wrapper">
            <img src="{{ '/assets/images/icons/help-icon.png' | relative_url }}" alt="Help & Support Icon">
          </div>
          <h3 class="col-title">Help & Support</h3>
          <div class="col-details">
            <p>{{ page.about_us_help_support_text | default: "Default help & support text" }}</p>
          </div>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
      <!-- Our Programs -->
      <div class="col-md-3 col-sm-6">
        <div class="about-us-col">
          <div class="col-icon-wrapper">
            <img src="{{ '/assets/images/icons/programs-icon.png' | relative_url }}" alt="Our Programs Icon">
          </div>
          <h3 class="col-title">Our Programs</h3>
          <div class="col-details">
            <p>{{ page.about_us_our_programs_text | default: "Default our programs text" }}</p>
          </div>
          <a href="#" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>
</div>
