<div id="cause-carousel" class="carousel slide cause-carousel" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      {% for image in page.carousel_images %}
        <li data-target="#cause-carousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
      {% endfor %}
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      {% for image in page.carousel_images %}
        <div class="item {% if forloop.first %}active{% endif %}">
          <img src="{{ image | relative_url }}" alt="Cause image {{ forloop.index }}">
        </div>
      {% endfor %}
    </div>
  </div>
  