<!-- _includes/our_sponsors.html -->
<div class="section-home our-sponsors animate-onscroll fadeIn">
  <div class="container">
    <h2 class="title-style-1">{{ page.our_sponsors_title | default: "Our Sponsors" }} <span class="title-under"></span></h2>
    <ul class="owl-carousel list-unstyled list-sponsors">
      <li><img src="{{ '/assets/images/sponsors/bus.png' | relative_url }}" alt="Bus"></li>
      <li><img src="{{ '/assets/images/sponsors/wikimedia.png' | relative_url }}" alt="Wikimedia"></li>
      <li><img src="{{ '/assets/images/sponsors/one-world.png' | relative_url }}" alt="One World"></li>
      <li><img src="{{ '/assets/images/sponsors/wikiversity.png' | relative_url }}" alt="Wikiversity"></li>
      <li><img src="{{ '/assets/images/sponsors/united-nations.png' | relative_url }}" alt="United Nations"></li>
      <li><img src="{{ '/assets/images/sponsors/bus.png' | relative_url }}" alt="Bus"></li>
      <li><img src="{{ '/assets/images/sponsors/wikimedia.png' | relative_url }}" alt="Wikimedia"></li>
      <li><img src="{{ '/assets/images/sponsors/one-world.png' | relative_url }}" alt="One World"></li>
      <li><img src="{{ '/assets/images/sponsors/wikiversity.png' | relative_url }}" alt="Wikiversity"></li>
      <li><img src="{{ '/assets/images/sponsors/united-nations.png' | relative_url }}" alt="United Nations"></li>
    </ul>
  </div>
</div>
