<div class="row">
    <div class="col-md-12 fadeIn animate-onscroll">
      <h2 class="title-style-2">Tabs <span class="title-under"></span></h2>
      <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          {% for tab in page.tabs %}
            <li role="presentation" class="{% if forloop.first %}active{% endif %}">
              <a href="#{{ tab.id }}" aria-controls="{{ tab.id }}" role="tab" data-toggle="tab">{{ tab.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          {% for tab in page.tabs %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %}" id="{{ tab.id }}">
              {{ tab.content }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  